<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="gcm.server.bin.ServerConsole" />
    <module name="gcm" />
    <option name="PROGRAM_PARAMETERS" value="--connectionString &quot;jdbc:mysql://f2Z8ihkJqY:15oK6k75bd@remotemysql.com/f2Z8ihkJqY&quot;" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="gcm.server.bin.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>